.DS_Store
.metals
.gitignore
.vscode

/FPinScala/.metals
/FPinScala/README.md

# FPinScala Chapter2
/FPinScala/chapter2/*
!/FPinScala/chapter2/src/
!/FPinScala/chapter2/build.sbt

# FPinScala Chapter3
/FPinScala/chapter3/*
!/FPinScala/chapter3/src/
!/FPinScala/chapter3/build.sbt

# FPinScala Chapter4
/FPinScala/chapter4/*
!/FPinScala/chapter4/src/
!/FPinScala/chapter4/build.sbt

# FPinScala Chapter5
/FPinScala/chapter5/*
!/FPinScala/chapter5/src/
!/FPinScala/chapter5/build.sbt

# FPinScala Chapter6
/FPinScala/chapter6/*
!/FPinScala/chapter6/src/
!/FPinScala/chapter6/build.sbt